html
head
  meta(charset="UTF-8")
  title=title
  link( rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css" )
  link( rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css" )
  link( rel="stylesheet" href="css/offline.css" )
body
  h1=title
  script( src="components/upup/dist/upup.min.js" )
  script.
    // Let's turn on debugging messages
    UpUp.debug();
    // Let's start UpUp with some basic settings
    UpUp.start({
      'service-worker-url': 'upup.sw.min.js',
      'content-url': 'offline',
      'assets': [
        'css/offline.css', 
        'components/bootstrap/dist/css/bootstrap.min.css'
      ]
    });